.app-nextgen-styling-classPattern_tachyons {
  text-align: center;
}

.header-nextgen-styling-classPattern_tachyons {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  justify-content: center;
  align-items: center;
}

.https\:\/\/stackoverflow\.com\/questions\/39512840\/css-text-flow-and-centering {
  font-size: 2.5em;
}

.neural-network-computationally-expensive {
  font-size: 13em;
}
